.header_menu {
 padding: 0;
  margin: 0;

  display: flex;
  list-style: none;
  height: 100%;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.active {
  background-color: gray;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  color: white !important;
  justify-content: center;
}
.noactive {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  color: white !important;
  justify-content: center;
}
.header_menu li {
  display: flex;
  align-items: center;

  margin-left: 4px;
  justify-content: center;
  width: 100px;

  cursor: pointer;
  height: 50px !important;
  display: flex;
  color: white;

  font-size: 21px;
  font-family: arial;
}
.header_menu li:hover {
  background-color: cadetblue;
}
