.stepLink {
  
  color: #fff;
  font-weight: bolder;
  font-size: 30;
  text-decoration: none;
  background-color: #1a73e8;
  padding: 7px 20px;
  margin: 15px;

}
.stepLink:hover{
  background-color: #2b84f9;
}

.next{
  float: right;
}
.prev{
  float: left;
}